.imageClass {
  text-align: center;
  content: '';
  background-image: url('../public/images/Background_Books.jpeg');
  background-size: cover;
  background-repeat: no-repeat;
  position: absolute;
  width: 100%;
  min-height: 100vh;
  opacity: 0.85;
  z-index: -1;
  filter: blur(2px);
  height: 100vh;
  display: flex;
}
.headerLogoLink {
  color: beige;
}
.Logo {
  width: 5%;
}
.LogoTemplate {
  width: 20%;
}
.header {
  top: 0%; 
  position: inherit; 
  width: 100%;
}
.customfooter {
  bottom: 0%; 
  position: fixed; 
  width: 100%;
}
.copywrite{
  background-color: rgba(0, 0, 0, 0.2);
}
.navElementAdjust {
  display: flex;
  justify-content: center;
  align-items: center;
}
.loginSignUp{
  min-width: 100px;
}
.searchBar{
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
  height:50px ;
  width: 80%;
  border: 2px solid;
  border-radius: 20px;
  overflow: hidden;
}
.searchBarOnfetch{
  top: 25%;
}
.searchBar input {
  box-shadow: none; 
  border-width:0px; 
  border:none;
  opacity: 0.75;
}
.searchBar button {
  box-shadow: none; 
  border-width:0px; 
  border:none; 
  pointer-events:none;
  background-color: white;
}
.navblack{
  height: 60px;
}
.tutor-list-container{
  display: flex;
  /* flex-wrap: wrap; */
  /* margin-top: 20px; */
  justify-content: center;
  align-items: center;
  left: 50%; 

  transform: translate(-0%,100%);

}
.tutor-card-container{
  border-radius: 10px;
  border: 1px solid gray;
  padding: 10px;
  margin: 10px;
  cursor: pointer;
}
.tutor-card-container:hover{
  box-shadow: 5px 5px 10px gray;
}
.tutor-name{
  font-weight: 600;
  font-size: 16px;
  text-align: left;
}
.tutor-profile{
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  align-items: center;
  text-align: left;
}
.profile-pic{
  width: 100px;
  height: 100px;
}
.top-margin{
  margin-top: 20px;
}
.left-align{
  text-align: left;
}
.bold-font{
  font-weight: 600;
}
.inactive{
  display: none;
}
.modal-backdrop{
  z-index: -1;

}

