.imageClass {
  text-align: center;
  content: '';
  background-image: url('../public/images/Background_Books.jpeg');
  background-size: cover;
  background-repeat: no-repeat;
  position: absolute;
  width: 100%;
  min-height: 100vh;
  opacity: 0.85;
  z-index: -1;
  filter: blur(2px);
  height: 100vh;
  display: flex;
}
.headerLogoLink {
  color: beige;
}
.Logo {
  width: 5%;
}
.LogoTemplate {
  width: 20%;
}
.header {
  top: 0%; 
  position: inherit; 
  width: 100%;
}
.customfooter {
  bottom: 0%; 
  position: fixed; 
  width: 100%;
}
.copywrite{
  background-color: rgba(0, 0, 0, 0.2);
}
.navElementAdjust {
  display: flex;
  justify-content: center;
  align-items: center;
}
.loginSignUp{
  min-width: 100px;
}
.searchBar{
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
  height:50px ;
  width: 80%;
  border: 2px solid;
  border-radius: 20px;
  overflow: hidden;
}
.searchBar input {
  box-shadow: none; 
  border-width:0px; 
  border:none;
  opacity: 0.75;
}
.searchBar button {
  box-shadow: none; 
  border-width:0px; 
  border:none; 
  pointer-events:none;
  background-color: white;
}
.navblack{
  height: 60px;
}
