.App {
  text-align: center;
  content: '';
  background-image: url('../public/images/Background_Books.jpeg');
  background-size: cover;
  background-repeat: no-repeat;
  position: absolute;
  width: 100%;
  min-height: 100vh;
  opacity: 0.85;
  z-index: -1;
  filter: blur(2px);
  height: 100vh;
  display: flex;
}

